<a href="https://colab.research.google.com/github/khalilullahalfaath/SA_Tubes/blob/main/SA_Tubes_Kelompok_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Kelompok Stigma (3)
#Nama Judul: Route Pathing Tempat Wisata di Kota Bandung, Kabupaten Bandung Barat dengan Algoritma Branch and Bound
* Khalillullah Al Faath (1301204376)
* Naufal Abdurrahman Burhani (1301204008)
* Ariqo Sukma Bahamis Ali (1301200361)

#Lokasi Wisata di Bandung
1. Trans Studio Bandung (Cibangkong, Batununggal)
2. Dago Dream Park (Mekarwangi, Pagerwangi)
3. Floating Market Lembang (Kabupaten Bandung Barat)
4. Upside Down World Bandung (Lebakgede, Coblong)
5. Museum Geologi Bandung (Cihaur Geulis, Kec. Cibeunying Kaler)
6. Bukit Moko
7. Taman Balai Kota Bandung (Pusat kota, Kota Bandung)
8. The Great Asia Afrika (Gudangkahuripan, Lembang, Kabupaten Bandung Barat)
9. Jalan Braga (Kota Bandung)

In [21]:
import gmaps
from geopy.geocoders import GoogleV3
import gmaps.datasets
import geopy.distance


geolocator = GoogleV3(api_key="AIzaSyC9fW9K-VS9PitxkDU7E_6EXTAbUVKM0n4")

gmaps.configure(api_key="AIzaSyC9fW9K-VS9PitxkDU7E_6EXTAbUVKM0n4")

In [11]:
earthquake_df = gmaps.datasets.load_dataset_as_df('earthquakes')
earthquake_df.head()

    latitude   longitude  magnitude
0  65.193300 -149.072500       1.70
1  38.791832 -122.780830       2.10
2  38.818001 -122.792168       0.48
3  33.601667 -116.727667       0.78
4  37.378334 -118.520836       3.64

In [12]:
locations = earthquake_df[['latitude', 'longitude']]
weights = earthquake_df['magnitude']
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
print(type(geolocator))

<class 'geopy.geocoders.google.GoogleV3'>

In [22]:
name = 'Empire State Building' 
location = geolocator.geocode(name)

print(location.address)
print(location.latitude, location.longitude)

20 W 34th St., New York, NY 10001, USA
40.7484405 -73.98566439999999